body{
	background-color: white;
}
#listTitle{
	font-family: Florence, cursive;
	font-size: 48px;
	height: 50px;
	margin-left: 510px;
	margin-right: auto;
}
.unchecked{
	font-family: Florence, cursive;
	text-decoration: line-through;
	color: gray;
	margin-top: 8px;
}
#listipoo{
	font-family: Florence, cursive;
	font-size: 16px;
	height:425px;
	width: 200px;
	margin-top:50px;
	margin-left:15px;
	margin-right: 15px;
	overflow: auto;
	float: left;
}
.titlefont{
	font-family: Florence, cursive;
	font-size: 16px;
}
.dairy{
	height:400px;
	width: 200px;
	margin-top:50px;
	margin-left:15px;
	overflow: auto;
	float:left;
	background-color: #dbdbdb;
}
.packaged{
	height:400px;
	width: 200px;
	margin-top:50px;
	margin-left:15px;
	overflow: auto;
	float:left;
	background-color: #dbdbdb;
}
.produce{
	height:400px;
	width: 200px;
	margin-top:50px;
	margin-left:15px;
	overflow: auto;
	float:left;
	background-color: #dbdbdb;
}
.frozen{
	height:400px;
	width: 200px;
	margin-top:50px;
	margin-left:15px;
	overflow: auto;
	float:left;
	background-color: #dbdbdb;
}
.nonfood{
	height:400px;
	width: 200px;
	margin-top:50px;
	margin-left:15px;
	overflow: auto;
	float:left;
	background-color: #dbdbdb;
}
.shoppingList{
	height:50px;
	width: 100px;
	margin: 50px;

}
.listAdd{
	height: 50px;
	width: 200px;
	margin-left: 10px;
	margin-right:auto;

}
#addButton{
	height:25px;
	width:70px;
	text-align: center;
	font-family: Florence, cursive;
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 10px;
	float:left;
	cursor: pointer;
	background-color: #dbdbdb
}
#button{
	margin-left: auto;
	margin-right: auto;
	float: left;
}
.pumpkin{
	color: black;
	margin-top:8px;
	background-color: yellow;
	cursor: move;
	background-color: #bdbdbd;
}
.checkin{
	color:gray;
}
#clearButton{
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
	text-align: center;
	font-family: Florence, cursive;
	height: 25px;
	width: 70px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	cursor: pointer;
	background-color: #dbdbdb
}
#itemToAdd{
		font-family: Florence, cursive;
		font-size: 14px;
}